.input-form {
  border: solid 1px var(--grey);
  border-radius: 4px;

  background-color: transparent;

  padding: 8px;
  margin-top: 8px;

  margin-bottom: 24px;
}

::placeholder {
  color: rgb(178, 178, 178);
  font-size: 0.875rem;
}

.label-form {
  font-size: 14px;
}
