.add-purchases {
  background-color: var(--main-color);
  color: var(--white);

  border-radius: 4px;

  padding: 10px 0;

  width: 180px;
}

.add-purchases:hover {
  background-color: var(--main-color-hover);
}

.add-purchases:active {
  background-color: var(--main-color-active);
}
