.modal-page {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 999;
}

.modal-container {
  background-color: var(--white);
  border-radius: 8px;

  width: 516px;
  padding: 28px;
  height: fit-content;

  z-index: 999;
}
